<h1>Editing gradstudent</h1>

<%= render "form", gradstudent: @gradstudent %>

<br>

<div>
  <%= link_to "Show this gradstudent", @gradstudent %> |
  <%= link_to "Back to gradstudents", gradstudents_path %>
</div>
