<div id="<%= dom_id program %>">
  <div class= 'bills text2 programs-desk'>
    <div class='img-container programs'>
      <%= image_tag "#{program.image}.png", alt: "#{program.name}", class: 'home-icon program-img' %>
      <p>Established: <%= program.establish %></p>
    </div>
  </div>
</div>
