<div id="<%= dom_id program %>">
  <div class= 'bills home text2'>
    <div class='img-container programs'>
      <%= image_tag "#{program.image}.png", alt: "#{program.name}", class: 'home-icon' %>
      <p>Established: <%= program.establish %></p>
    </div>
  </div>
</div>
