<div class='login'>
  <%= link_to bills_admin_programs_path do %>
    <i class="fa-solid fa-arrow-left fa-2x white"></i>
  <% end %>

  <p>EDIT PROGRAM</p>
  <div></div>
</div>

<%= render "form", program: @program %>
