<h1>Editing gradclass</h1>

<%= render "form", gradclass: @gradclass %>

<br>

<div>
  <%= link_to "Show this gradclass", @gradclass %> |
  <%= link_to "Back to gradclasses", gradclasses_path %>
</div>
