<div class= 'splash'>
  <%= image_tag "nda(1).png", alt: "nda icon", class: 'main-icon' %>
  <h1 class= 'title grey'>Electrical/Electronic Engineering<br>Department</h1>
  <div class= 'login-signup'>
    <%= link_to 'LOG IN', new_user_session_path, class: 'splash-login' %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'splash-signup' %>
  </div>
</div>