<div id="<%= dom_id option %>">
  <p>
    <strong>Name:</strong>
    <%= option.name %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= option.program_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= option.option_type %>
  </p>

</div>
