<div class='login'>
  <%= link_to bills_admin_path do %>
    <i class="fa-solid fa-arrow-left fa-2x white"></i>
  <% end %>

  <p>EDIT OPTION</p>
  <div></div>
</div>

<%= render "form", option: @option %>
