<div id="<%= dom_id gradcourse %>">
  <div class= 'bills grad-classes'>
    <div class='flex-column'>
      <p class= 'text2'><%= gradcourse.title %></p>
      <p class= 'time'><%= gradcourse.code %></p>
    </div>
    <p class= 'grey'><%= gradcourse.units %> units</p>
  </div>

</div>
