<h1>Editing gradcourse</h1>

<%= render "form", gradcourse: @gradcourse %>

<br>

<div>
  <%= link_to "Show this gradcourse", @gradcourse %> |
  <%= link_to "Back to gradcourses", gradcourses_path %>
</div>
