<div class='login'>
  <div>
    <%= link_to root_path, class: 'white' do %>
      <i class="fa-solid fa-arrow-left fa-2x white"></i>
    <% end %>
  </div>
  <div>
    <p>ADMIN</p>
  </div>
  <div class= 'empty-div'></div>
</div>

<div class= 'budget'>
  <p class= 'text2'>LECTURERS</p>
</div>

<div class= 'budget'>
  <p class= 'text2'>PROGRAMS</p>
</div>

<div class= 'budget'>
  <p class= 'text2'>OPTIONS</p>
</div>

<div class= 'budget'>
  <p class= 'text2'>COURSES</p>
</div>