<div class='login'>
  <%= link_to lecturer_path do %>
    <i class="fa-solid fa-arrow-left fa-2x white"></i>
  <% end %>

  <p>EDIT LECTURER</p>
  <div>
  </div>
</div>

<%= render "form", lecturer: @lecturer %>
